
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
  }
  
  
  header, footer {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  

  footer {
    margin-top: auto;
  }
  

  .box {
    background: #e0e0e0;
    padding: 20px;
    margin: 5px 0;
    text-align: center;
  }
  
  
